.card {
  border: $border-width solid $border-color--light;
  border-radius: $border-radius;
  padding: $gl-spacing-7;

  &.w-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.card--header {
  border: $border-width solid $border-color--light;
  border-bottom: 0;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius; 
  background: $gray-50;
  padding: $gl-spacing-5 $gl-spacing-7;
}

.card--highlighted {
  background: $blue-50;
  border-color: $blue-200;
}

.card--link:hover {
  background: $blue-100;
}
