.card {
  @include box-shadow();
  border: $border-width solid $border-color--light;
  border-radius: $border-radius;
  padding: $gl-spacing-5;
}

.card--header {
  border-bottom: 1px solid $border-color--light;
  background: $gray-50;
}

.card--highlighted {
  background: $blue-50;
  border-color: $blue-200;
}

.card--link:hover {
  background: $blue-100;
}
