table:not(.pika-table):not(.gl-table) {
  width: 100%;
  color: var(--gl-text-color-default);
  border: 1px solid var(--gl-border-color-default);
  border-collapse: collapse;
  text-align: left;
  @extend .gl-mb-6;

  thead {
    background-color: var(--gl-background-color-strong);
    border-bottom: 2px solid var(--gl-border-color-default);

    th {
      font-weight: $gl-font-weight-bold;
    }
  }

  th,
  td {
    border: 1px solid var(--gl-border-color-default);
    padding: $gl-spacing-3;
    font-weight: $gl-font-weight-normal;

    &.header {
      font-weight: $gl-font-weight-bold;
      background-color: var(--gl-background-color-strong);
    }
  }
}

th,
td {
  vertical-align: top;
}

// Compact table

.table-compact {

  p,
  ul {
    @include type-scale(0, 6, 0, 0);
    margin-bottom: 0.5em;
  }

  ul {
    margin-top: 0;
  }
}
