/* don't use this. this is for demo purposes only */
.btn {
  background-color: var(--color-blue-400-2-e-87-e-0);
  font-size: var(--font-buttons-primary-default-font-size);
  line-height: var(--font-buttons-primary-default-line-height);
  text-align: var(--font-buttons-primary-default-text-align);
  color: var(--font-buttons-primary-default-color);
  font-style: var(--font-buttons-primary-default-font-style);
  font-weight: var(--font-buttons-primary-default-font-weight);
  font-family: var(--font-buttons-primary-default-font-family);

}
