@import "node_modules/css-framework/src/base/base-variables";
@import "node_modules/css-framework/src/button/button-variables";

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/buttons";

#root {
  padding: 16px;
}

.component-preview {
  & > div {
    margin-bottom: 16px;
  }
}
