pre + div {
  margin-bottom: 20px;
}

@import "node_modules/css-framework/src/base/base-variables";
@import "node_modules/css-framework/src/button/button-variables";

$primary: $blue-500;
$success: $green-500;
$danger: $red-500;

// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/badge";

@import "buttons";

@import "node_modules/prismjs/themes/prism.css";

body {
  margin: 16px;
}

#root {
  padding: 16px;
}

.component-preview {
  & > div {
    margin-bottom: 16px;
  }
}
