<html>
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="page">
      <!-- add sidebar -->
      <div class="content limited md m-t-7 m-b-7">
        <h1>Buttons</h1>
        <p>Just some buttons</p>
        <div class="m-b-5">
          <button class="btn btn-primary">Primary Button</button>
        </div>
        <pre><code>&lt;button class="btn btn-primary"&gt;Primary Button&lt;/button&gt;</code></pre>
      </div>
    </div>
    <script src="../bundle.js"></script>
  </body>
</html>
