.baseline {
  position: relative;
  padding: 0 $gl-spacing-5;

  & h1:first-child {
    margin-top: 0px;
  }

  &:after {
    position: absolute;
    width: auto;
    height: auto;
    content: '';
    display: block;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient($gray-100 1px, transparent 1px);
    background-size: 100% 8px;
    z-index: -1;
  }
}
