.banner {
  height: 400px;
  position: relative;
  background: url(../../assets/images/cover-bg.png) 50% 50%/cover;

  h1 {
      @include center(both);
      color: $white;
      text-align: center;
      letter-spacing: 2px;
      z-index: $z-banner-text
  }

  .overlay {
    left: 0;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    opacity: 1;
    width: 100%;
    z-index: $z-banner-overlay;
  }
}

.principles {
  display: flex;
  flex-wrap: wrap;
  
  .principle {
    width: 50%;

    &:nth-child(odd) {
      padding-right: $gl-spacing-5;
    }

    &:nth-child(even) {
      padding-left: $gl-spacing-5;
    }

    h2 {
      text-align: center;
    }
  }
}