.brand-text-gradient {
  background: linear-gradient(to right, var(--gl-color-brand-purple-01g), var(--gl-color-brand-pink-01g), var(--gl-color-brand-orange-01g));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
