.banner {
  height: 450px;
  position: relative;
  background: url(../../assets/images/cover@2x.png) 50% 50%/cover;

  .banner__header {
    @include center(both);
    width: 100%;
    z-index: $z-index-header;

    .banner__header--title {
      letter-spacing: 2px;
      margin-bottom: $gl-spacing-3;
    }

    .banner__header--description {
      font-weight: $font-weight--normal;
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, rgba($blue-800,0.75) 0%,rgba($blue-950,0.9) 100%);
  }
}

.principles {
  display: flex;
  flex-wrap: wrap;
  
  .principle {
    display: flex;
    align-items: center;
    width: 50%;
    
    &:nth-child(odd) {
      padding-right: $gl-spacing-5;
    }

    &:nth-child(even) {
      padding-left: $gl-spacing-5;
    }
  }
}

.contribute {
  background: $gray-50;
  border-top: $border-width solid $gray-100;
  border-bottom: $border-width solid $gray-100;
}

.resources {
  .card {
    flex: 1;
    background: $blue-50;
    border-color: $blue-200;
    color: $blue-500;

    &:hover {
      text-decoration: none;
      background: $blue-100;
    }
  }
}
