.color {
  .color-details {
    display: none;
    flex-wrap: wrap;

    .color-details--section {
      flex-grow: 2;
      flex-basis: 50%;
      border-top: $border-width solid $border-color;
      padding-top: $gl-spacing-3;
    }
  }

  &:hover {
    > .color-details {
      display: flex;
    }

    > .color-overview .variable {
      font-weight: $font-weight--bold;
    }
  }


  .color-priority {
    height: 198px;
  }
}

.palette {
  &:hover {
    .color-priority {
      height: 32px;
    }
  }
}