
.color {
  &:first-child {
    .color-overview {
      border-top-right-radius: $border-radius;
      border-top-left-radius: $border-radius;
    }
  }

  &:last-child {
    .color-overview {
      border-bottom-right-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:hover {
      .color-overview {
        border-bottom-left-radius: 0;
      }
    }
  }

  .color-overview {
    @include transition(margin);
    display: flex;

    .variable {
      flex-grow: 2;
    }

    .hex {
      @include transition();
      opacity: 0;
    }
  }

  .color-details {
    display: none;
    flex-wrap: wrap;

    .color-details--section {
      flex-grow: 2;
      flex-basis: 50%;

      .pass { color: $green-700; }
      .fail { color: $red-600; }
    }
  }

  // color-overview height + color-details height
  .color-priority {
    height: $gl-spacing-7 + $gl-spacing-10;
  }

  &:hover {
    .color-overview {
      margin: 0 (-$gl-spacing-3) 0 0;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    > .color-details {
      display: flex;
    }

    > .color-overview .variable {
      font-weight: $gl-font-weight-bold;
    }
  }
}

.palette {
  &:hover {
    .color-priority {
      height: $gl-spacing-7;
    }
    .hex {
      opacity: 1;
    }
  }
}
