
.color {
  .color-overview {
    @include transition(margin);
    display: flex;

    .variable {
      flex-grow: 2;
    }

    .hex {
      @include transition();
      opacity: 0;
    }
  }

  .color-details {
    display: none;
    flex-wrap: wrap;

    .color-details--section {
      flex-grow: 2;
      flex-basis: 50%;
    }
  }

  &:hover {
    .color-overview {
      margin: 0 (-$gl-spacing-3) 0 0;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    > .color-details {
      display: flex;
    }

    > .color-overview .variable {
      font-weight: $font-weight--bold;
    }
  }

  // color-overview height + color-details height
  .color-priority {
    height: $gl-spacing-7 + $gl-spacing-10;
  }
}

.palette {
  &:hover {
    .color-priority {
      height: $gl-spacing-7;
    }
    .hex {
      opacity: 1;
    }
  }
}