/* Defaults
   ========================================================================== */

body,
html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: $font-family-sans;
  color: $text-color;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
