/* Defaults
   ========================================================================== */

body,
html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: $body-font;
  color: $gl-text-color;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
