.c-green-background-50  { background-color: $green-50;  }
.c-green-background-100 { background-color: $green-100; }
.c-green-background-200 { background-color: $green-200; }
.c-green-background-300 { background-color: $green-300; }
.c-green-background-400 { background-color: $green-400; }
.c-green-background-500 { background-color: $green-500; }
.c-green-background-600 { background-color: $green-600; }
.c-green-background-700 { background-color: $green-700; }
.c-green-background-800 { background-color: $green-800; }
.c-green-background-900 { background-color: $green-900; }
.c-green-background-950 { background-color: $green-950; }

.c-blue-background-50  { background-color: $blue-50;  }
.c-blue-background-100 { background-color: $blue-100; }
.c-blue-background-200 { background-color: $blue-200; }
.c-blue-background-300 { background-color: $blue-300; }
.c-blue-background-400 { background-color: $blue-400; }
.c-blue-background-500 { background-color: $blue-500; }
.c-blue-background-600 { background-color: $blue-600; }
.c-blue-background-700 { background-color: $blue-700; }
.c-blue-background-800 { background-color: $blue-800; }
.c-blue-background-900 { background-color: $blue-900; }
.c-blue-background-950 { background-color: $blue-950; }

.c-orange-background-50  { background-color: $orange-50;  }
.c-orange-background-100 { background-color: $orange-100; }
.c-orange-background-200 { background-color: $orange-200; }
.c-orange-background-300 { background-color: $orange-300; }
.c-orange-background-400 { background-color: $orange-400; }
.c-orange-background-500 { background-color: $orange-500; }
.c-orange-background-600 { background-color: $orange-600; }
.c-orange-background-700 { background-color: $orange-700; }
.c-orange-background-800 { background-color: $orange-800; }
.c-orange-background-900 { background-color: $orange-900; }
.c-orange-background-950 { background-color: $orange-950; }

.c-red-background-50  { background-color: $red-50;  }
.c-red-background-100 { background-color: $red-100; }
.c-red-background-200 { background-color: $red-200; }
.c-red-background-300 { background-color: $red-300; }
.c-red-background-400 { background-color: $red-400; }
.c-red-background-500 { background-color: $red-500; }
.c-red-background-600 { background-color: $red-600; }
.c-red-background-700 { background-color: $red-700; }
.c-red-background-800 { background-color: $red-800; }
.c-red-background-900 { background-color: $red-900; }
.c-red-background-950 { background-color: $red-950; }

.c-white-background    { background-color: $white; }
.c-gray-background-50  { background-color: $gray-50;  }
.c-gray-background-100 { background-color: $gray-100; }
.c-gray-background-200 { background-color: $gray-200; }
.c-gray-background-300 { background-color: $gray-300; }
.c-gray-background-400 { background-color: $gray-400; }
.c-gray-background-500 { background-color: $gray-500; }
.c-gray-background-600 { background-color: $gray-600; }
.c-gray-background-700 { background-color: $gray-700; }
.c-gray-background-800 { background-color: $gray-800; }
.c-gray-background-900 { background-color: $gray-900; }
.c-gray-background-950 { background-color: $gray-950; }
.c-black-background    { background-color: $black; }
