/*
 * Colored backgrounds
 */

.c-background-green-50  { background-color: $green-50;  }
.c-background-green-100 { background-color: $green-100; }
.c-background-green-200 { background-color: $green-200; }
.c-background-green-300 { background-color: $green-300; }
.c-background-green-400 { background-color: $green-400; }
.c-background-green-500 { background-color: $green-500; }
.c-background-green-600 { background-color: $green-600; }
.c-background-green-700 { background-color: $green-700; }
.c-background-green-800 { background-color: $green-800; }
.c-background-green-900 { background-color: $green-900; }
.c-background-green-950 { background-color: $green-950; }

.c-background-blue-50  { background-color: $blue-50;  }
.c-background-blue-100 { background-color: $blue-100; }
.c-background-blue-200 { background-color: $blue-200; }
.c-background-blue-300 { background-color: $blue-300; }
.c-background-blue-400 { background-color: $blue-400; }
.c-background-blue-500 { background-color: $blue-500; }
.c-background-blue-600 { background-color: $blue-600; }
.c-background-blue-700 { background-color: $blue-700; }
.c-background-blue-800 { background-color: $blue-800; }
.c-background-blue-900 { background-color: $blue-900; }
.c-background-blue-950 { background-color: $blue-950; }

.c-background-orange-50  { background-color: $orange-50;  }
.c-background-orange-100 { background-color: $orange-100; }
.c-background-orange-200 { background-color: $orange-200; }
.c-background-orange-300 { background-color: $orange-300; }
.c-background-orange-400 { background-color: $orange-400; }
.c-background-orange-500 { background-color: $orange-500; }
.c-background-orange-600 { background-color: $orange-600; }
.c-background-orange-700 { background-color: $orange-700; }
.c-background-orange-800 { background-color: $orange-800; }
.c-background-orange-900 { background-color: $orange-900; }
.c-background-orange-950 { background-color: $orange-950; }

.c-background-red-50  { background-color: $red-50;  }
.c-background-red-100 { background-color: $red-100; }
.c-background-red-200 { background-color: $red-200; }
.c-background-red-300 { background-color: $red-300; }
.c-background-red-400 { background-color: $red-400; }
.c-background-red-500 { background-color: $red-500; }
.c-background-red-600 { background-color: $red-600; }
.c-background-red-700 { background-color: $red-700; }
.c-background-red-800 { background-color: $red-800; }
.c-background-red-900 { background-color: $red-900; }
.c-background-red-950 { background-color: $red-950; }

.c-background-purple-50  { background-color: $purple-50;  }
.c-background-purple-100 { background-color: $purple-100; }
.c-background-purple-200 { background-color: $purple-200; }
.c-background-purple-300 { background-color: $purple-300; }
.c-background-purple-400 { background-color: $purple-400; }
.c-background-purple-500 { background-color: $purple-500; }
.c-background-purple-600 { background-color: $purple-600; }
.c-background-purple-700 { background-color: $purple-700; }
.c-background-purple-800 { background-color: $purple-800; }
.c-background-purple-900 { background-color: $purple-900; }
.c-background-purple-950 { background-color: $purple-950; }

.c-background-white    { background-color: $white; }
.c-background-gray-10  { background-color: $gray-10; }
.c-background-gray-50  { background-color: $gray-50;  }
.c-background-gray-100 { background-color: $gray-100; }
.c-background-gray-200 { background-color: $gray-200; }
.c-background-gray-300 { background-color: $gray-300; }
.c-background-gray-400 { background-color: $gray-400; }
.c-background-gray-500 { background-color: $gray-500; }
.c-background-gray-600 { background-color: $gray-600; }
.c-background-gray-700 { background-color: $gray-700; }
.c-background-gray-800 { background-color: $gray-800; }
.c-background-gray-900 { background-color: $gray-900; }
.c-background-gray-950 { background-color: $gray-950; }
.c-background-black    { background-color: $black; }

/*
 * Colored borders
 */

.c-border-green-50  { border: $border-width solid $green-50;  }
.c-border-green-100 { border: $border-width solid $green-100; }
.c-border-green-200 { border: $border-width solid $green-200; }
.c-border-green-300 { border: $border-width solid $green-300; }
.c-border-green-400 { border: $border-width solid $green-400; }
.c-border-green-500 { border: $border-width solid $green-500; }
.c-border-green-600 { border: $border-width solid $green-600; }
.c-border-green-700 { border: $border-width solid $green-700; }
.c-border-green-800 { border: $border-width solid $green-800; }
.c-border-green-900 { border: $border-width solid $green-900; }
.c-border-green-950 { border: $border-width solid $green-950; }

.c-border-blue-50  { border: $border-width solid $blue-50;  }
.c-border-blue-100 { border: $border-width solid $blue-100; }
.c-border-blue-200 { border: $border-width solid $blue-200; }
.c-border-blue-300 { border: $border-width solid $blue-300; }
.c-border-blue-400 { border: $border-width solid $blue-400; }
.c-border-blue-500 { border: $border-width solid $blue-500; }
.c-border-blue-600 { border: $border-width solid $blue-600; }
.c-border-blue-700 { border: $border-width solid $blue-700; }
.c-border-blue-800 { border: $border-width solid $blue-800; }
.c-border-blue-900 { border: $border-width solid $blue-900; }
.c-border-blue-950 { border: $border-width solid $blue-950; }

.c-border-orange-50  { border: $border-width solid $orange-50;  }
.c-border-orange-100 { border: $border-width solid $orange-100; }
.c-border-orange-200 { border: $border-width solid $orange-200; }
.c-border-orange-300 { border: $border-width solid $orange-300; }
.c-border-orange-400 { border: $border-width solid $orange-400; }
.c-border-orange-500 { border: $border-width solid $orange-500; }
.c-border-orange-600 { border: $border-width solid $orange-600; }
.c-border-orange-700 { border: $border-width solid $orange-700; }
.c-border-orange-800 { border: $border-width solid $orange-800; }
.c-border-orange-900 { border: $border-width solid $orange-900; }
.c-border-orange-950 { border: $border-width solid $orange-950; }

.c-border-red-50  { border: $border-width solid $red-50;  }
.c-border-red-100 { border: $border-width solid $red-100; }
.c-border-red-200 { border: $border-width solid $red-200; }
.c-border-red-300 { border: $border-width solid $red-300; }
.c-border-red-400 { border: $border-width solid $red-400; }
.c-border-red-500 { border: $border-width solid $red-500; }
.c-border-red-600 { border: $border-width solid $red-600; }
.c-border-red-700 { border: $border-width solid $red-700; }
.c-border-red-800 { border: $border-width solid $red-800; }
.c-border-red-900 { border: $border-width solid $red-900; }
.c-border-red-950 { border: $border-width solid $red-950; }

.c-border-purple-50  { border: $border-width solid $purple-50;  }
.c-border-purple-100 { border: $border-width solid $purple-100; }
.c-border-purple-200 { border: $border-width solid $purple-200; }
.c-border-purple-300 { border: $border-width solid $purple-300; }
.c-border-purple-400 { border: $border-width solid $purple-400; }
.c-border-purple-500 { border: $border-width solid $purple-500; }
.c-border-purple-600 { border: $border-width solid $purple-600; }
.c-border-purple-700 { border: $border-width solid $purple-700; }
.c-border-purple-800 { border: $border-width solid $purple-800; }
.c-border-purple-900 { border: $border-width solid $purple-900; }
.c-border-purple-950 { border: $border-width solid $purple-950; }

.c-border-white    { border: $border-width solid $white;  }
.c-border-gray-10  { border: $border-width solid $gray-10; }
.c-border-gray-50  { border: $border-width solid $gray-50;  }
.c-border-gray-100 { border: $border-width solid $gray-100; }
.c-border-gray-200 { border: $border-width solid $gray-200; }
.c-border-gray-300 { border: $border-width solid $gray-300; }
.c-border-gray-400 { border: $border-width solid $gray-400; }
.c-border-gray-500 { border: $border-width solid $gray-500; }
.c-border-gray-600 { border: $border-width solid $gray-600; }
.c-border-gray-700 { border: $border-width solid $gray-700; }
.c-border-gray-800 { border: $border-width solid $gray-800; }
.c-border-gray-900 { border: $border-width solid $gray-900; }
.c-border-gray-950 { border: $border-width solid $gray-950; }
.c-border-black    { border: $border-width solid $black;  }
