.c-green-background-50  { background-color: $green-50;  }
.c-green-background-100 { background-color: $green-100; }
.c-green-background-200 { background-color: $green-200; }
.c-green-background-300 { background-color: $green-300; }
.c-green-background-400 { background-color: $green-400; }
.c-green-background-500 { background-color: $green-500; }
.c-green-background-600 { background-color: $green-600; }
.c-green-background-700 { background-color: $green-700; }
.c-green-background-800 { background-color: $green-800; }
.c-green-background-900 { background-color: $green-900; }
.c-green-background-950 { background-color: $green-950; }

.c-blue-background-50  { background-color: $blue-50;  }
.c-blue-background-100 { background-color: $blue-100; }
.c-blue-background-200 { background-color: $blue-200; }
.c-blue-background-300 { background-color: $blue-300; }
.c-blue-background-400 { background-color: $blue-400; }
.c-blue-background-500 { background-color: $blue-500; }
.c-blue-background-600 { background-color: $blue-600; }
.c-blue-background-700 { background-color: $blue-700; }
.c-blue-background-800 { background-color: $blue-800; }
.c-blue-background-900 { background-color: $blue-900; }
.c-blue-background-950 { background-color: $blue-950; }

.c-orange-background-50  { background-color: $orange-50;  }
.c-orange-background-100 { background-color: $orange-100; }
.c-orange-background-200 { background-color: $orange-200; }
.c-orange-background-300 { background-color: $orange-300; }
.c-orange-background-400 { background-color: $orange-400; }
.c-orange-background-500 { background-color: $orange-500; }
.c-orange-background-600 { background-color: $orange-600; }
.c-orange-background-700 { background-color: $orange-700; }
.c-orange-background-800 { background-color: $orange-800; }
.c-orange-background-900 { background-color: $orange-900; }
.c-orange-background-950 { background-color: $orange-950; }

.c-red-background-50  { background-color: $red-50;  }
.c-red-background-100 { background-color: $red-100; }
.c-red-background-200 { background-color: $red-200; }
.c-red-background-300 { background-color: $red-300; }
.c-red-background-400 { background-color: $red-400; }
.c-red-background-500 { background-color: $red-500; }
.c-red-background-600 { background-color: $red-600; }
.c-red-background-700 { background-color: $red-700; }
.c-red-background-800 { background-color: $red-800; }
.c-red-background-900 { background-color: $red-900; }
.c-red-background-950 { background-color: $red-950; }

.c-white-background    { background-color: $white; }
.c-gray-background-50  { background-color: $gray-50;  }
.c-gray-background-100 { background-color: $gray-100; }
.c-gray-background-200 { background-color: $gray-200; }
.c-gray-background-300 { background-color: $gray-300; }
.c-gray-background-400 { background-color: $gray-400; }
.c-gray-background-500 { background-color: $gray-500; }
.c-gray-background-600 { background-color: $gray-600; }
.c-gray-background-700 { background-color: $gray-700; }
.c-gray-background-800 { background-color: $gray-800; }
.c-gray-background-900 { background-color: $gray-900; }
.c-gray-background-950 { background-color: $gray-950; }
.c-black-background    { background-color: $black; }

.c-green-border-50  { border: $border-width solid $green-50;  }
.c-green-border-100 { border: $border-width solid $green-100; }
.c-green-border-200 { border: $border-width solid $green-200; }
.c-green-border-300 { border: $border-width solid $green-300; }
.c-green-border-400 { border: $border-width solid $green-400; }
.c-green-border-500 { border: $border-width solid $green-500; }
.c-green-border-600 { border: $border-width solid $green-600; }
.c-green-border-700 { border: $border-width solid $green-700; }
.c-green-border-800 { border: $border-width solid $green-800; }
.c-green-border-900 { border: $border-width solid $green-900; }
.c-green-border-950 { border: $border-width solid $green-950; }

.c-blue-border-50  { border: $border-width solid $blue-50;  }
.c-blue-border-100 { border: $border-width solid $blue-100; }
.c-blue-border-200 { border: $border-width solid $blue-200; }
.c-blue-border-300 { border: $border-width solid $blue-300; }
.c-blue-border-400 { border: $border-width solid $blue-400; }
.c-blue-border-500 { border: $border-width solid $blue-500; }
.c-blue-border-600 { border: $border-width solid $blue-600; }
.c-blue-border-700 { border: $border-width solid $blue-700; }
.c-blue-border-800 { border: $border-width solid $blue-800; }
.c-blue-border-900 { border: $border-width solid $blue-900; }
.c-blue-border-950 { border: $border-width solid $blue-950; }

.c-orange-border-50  { border: $border-width solid $orange-50;  }
.c-orange-border-100 { border: $border-width solid $orange-100; }
.c-orange-border-200 { border: $border-width solid $orange-200; }
.c-orange-border-300 { border: $border-width solid $orange-300; }
.c-orange-border-400 { border: $border-width solid $orange-400; }
.c-orange-border-500 { border: $border-width solid $orange-500; }
.c-orange-border-600 { border: $border-width solid $orange-600; }
.c-orange-border-700 { border: $border-width solid $orange-700; }
.c-orange-border-800 { border: $border-width solid $orange-800; }
.c-orange-border-900 { border: $border-width solid $orange-900; }
.c-orange-border-950 { border: $border-width solid $orange-950; }

.c-red-border-50  { border: $border-width solid $red-50;  }
.c-red-border-100 { border: $border-width solid $red-100; }
.c-red-border-200 { border: $border-width solid $red-200; }
.c-red-border-300 { border: $border-width solid $red-300; }
.c-red-border-400 { border: $border-width solid $red-400; }
.c-red-border-500 { border: $border-width solid $red-500; }
.c-red-border-600 { border: $border-width solid $red-600; }
.c-red-border-700 { border: $border-width solid $red-700; }
.c-red-border-800 { border: $border-width solid $red-800; }
.c-red-border-900 { border: $border-width solid $red-900; }
.c-red-border-950 { border: $border-width solid $red-950; }

.c-orange-border-50  { border: $border-width solid $orange-50;  }
.c-orange-border-100 { border: $border-width solid $orange-100; }
.c-orange-border-200 { border: $border-width solid $orange-200; }
.c-orange-border-300 { border: $border-width solid $orange-300; }
.c-orange-border-400 { border: $border-width solid $orange-400; }
.c-orange-border-500 { border: $border-width solid $orange-500; }
.c-orange-border-600 { border: $border-width solid $orange-600; }
.c-orange-border-700 { border: $border-width solid $orange-700; }
.c-orange-border-800 { border: $border-width solid $orange-800; }
.c-orange-border-900 { border: $border-width solid $orange-900; }
.c-orange-border-950 { border: $border-width solid $orange-950; }

.c-white-border    { border: $border-width solid $white;  }
.c-gray-border-50  { border: $border-width solid $gray-50;  }
.c-gray-border-100 { border: $border-width solid $gray-100; }
.c-gray-border-200 { border: $border-width solid $gray-200; }
.c-gray-border-300 { border: $border-width solid $gray-300; }
.c-gray-border-400 { border: $border-width solid $gray-400; }
.c-gray-border-500 { border: $border-width solid $gray-500; }
.c-gray-border-600 { border: $border-width solid $gray-600; }
.c-gray-border-700 { border: $border-width solid $gray-700; }
.c-gray-border-800 { border: $border-width solid $gray-800; }
.c-gray-border-900 { border: $border-width solid $gray-900; }
.c-gray-border-950 { border: $border-width solid $gray-950; }
.c-black-border    { border: $border-width solid $black;  }

.t-indigo-background-50  { background-color: $t-indigo-50;  }
.t-indigo-background-100 { background-color: $t-indigo-100; }
.t-indigo-background-200 { background-color: $t-indigo-200; }
.t-indigo-background-300 { background-color: $t-indigo-300; }
.t-indigo-background-400 { background-color: $t-indigo-400; }
.t-indigo-background-500 { background-color: $t-indigo-500; }
.t-indigo-background-600 { background-color: $t-indigo-600; }
.t-indigo-background-700 { background-color: $t-indigo-700; }
.t-indigo-background-800 { background-color: $t-indigo-800; }
.t-indigo-background-900 { background-color: $t-indigo-900; }
.t-indigo-background-950 { background-color: $t-indigo-950; }

.t-gray-background-50  { background-color: $t-gray-50;  }
.t-gray-background-100 { background-color: $t-gray-100; }
.t-gray-background-200 { background-color: $t-gray-200; }
.t-gray-background-300 { background-color: $t-gray-300; }
.t-gray-background-400 { background-color: $t-gray-400; }
.t-gray-background-500 { background-color: $t-gray-500; }
.t-gray-background-600 { background-color: $t-gray-600; }
.t-gray-background-700 { background-color: $t-gray-700; }
.t-gray-background-800 { background-color: $t-gray-800; }
.t-gray-background-900 { background-color: $t-gray-900; }
.t-gray-background-950 { background-color: $t-gray-950; }

.t-blue-background-50  { background-color: $t-blue-50;  }
.t-blue-background-100 { background-color: $t-blue-100; }
.t-blue-background-200 { background-color: $t-blue-200; }
.t-blue-background-300 { background-color: $t-blue-300; }
.t-blue-background-400 { background-color: $t-blue-400; }
.t-blue-background-500 { background-color: $t-blue-500; }
.t-blue-background-600 { background-color: $t-blue-600; }
.t-blue-background-700 { background-color: $t-blue-700; }
.t-blue-background-800 { background-color: $t-blue-800; }
.t-blue-background-900 { background-color: $t-blue-900; }
.t-blue-background-950 { background-color: $t-blue-950; }

.t-green-background-50  { background-color: $t-green-50;  }
.t-green-background-100 { background-color: $t-green-100; }
.t-green-background-200 { background-color: $t-green-200; }
.t-green-background-300 { background-color: $t-green-300; }
.t-green-background-400 { background-color: $t-green-400; }
.t-green-background-500 { background-color: $t-green-500; }
.t-green-background-600 { background-color: $t-green-600; }
.t-green-background-700 { background-color: $t-green-700; }
.t-green-background-800 { background-color: $t-green-800; }
.t-green-background-900 { background-color: $t-green-900; }
.t-green-background-950 { background-color: $t-green-950; }
