.page {
  padding-left: $nav-sidebar-width;
}

.content {
  padding: 0 $gl-spacing-5;
  margin: 0 auto;
  min-width: $nav-sidebar-width * 2;

  &.limited {
      max-width: $page-width;
  }
}

.page-header {
  border-bottom: $border-width solid $border-color;
}

.todo {
  background-color: $blue-50;
  padding: $gl-spacing-5;
  color: $blue-600;
  border: $border-width solid $blue-100;
  border-radius: $border-radius;
}
