/*
 * Margin
 */

.m-b-2 { margin-bottom:   $gl-spacing-2; }

.m-b-3 { margin-bottom:   $gl-spacing-3; }
.m-l-3 { margin-left:     $gl-spacing-3; }

.m-l-4 { margin-left:     $gl-spacing-4; }

.m-t-5 { margin-top:      $gl-spacing-5; }
.m-b-5 { margin-bottom:   $gl-spacing-5; }

.m-t-6 { margin-top:      $gl-spacing-6; }
.m-b-6 { margin-bottom:   $gl-spacing-6; }

.m-t-7 { margin-top:      $gl-spacing-7; }
.m-b-7 { margin-bottom:   $gl-spacing-7; }

.m-t-8 { margin-top:      $gl-spacing-8; }
.m-b-8 { margin-bottom:   $gl-spacing-8; }

.m-t-9 { margin-top:      $gl-spacing-9; }
.m-b-9 { margin-bottom:   $gl-spacing-9; }

/*
 * Padding
 */

.p-a-5 { padding:          $gl-spacing-5; }
.p-r-5 { padding-right:    $gl-spacing-5; }
.p-l-5 { padding-left:     $gl-spacing-5; }

.p-t-6 { padding-top:      $gl-spacing-6; }
.p-b-6 { padding-bottom:   $gl-spacing-6; }

.p-b-7 { padding-bottom:   $gl-spacing-7; }

.p-a-8 { padding:          $gl-spacing-8; }
.p-t-8 { padding-top:      $gl-spacing-8; }
.p-b-8 { padding-bottom:   $gl-spacing-8; }

.p-a-10 { padding:        $gl-spacing-10; }
.p-t-10 { padding-top:    $gl-spacing-10; }
.p-b-10 { padding-bottom: $gl-spacing-10; }
