/*
 * Padding
 */

.p-b-6 { padding-bottom:   $gl-spacing-6; }

.p-b-7 { padding-bottom:   $gl-spacing-7; }

.p-a-8 { padding:          $gl-spacing-8; }
.p-t-8 { padding-top:      $gl-spacing-8; }
.p-b-8 { padding-bottom:   $gl-spacing-8; }

.p-a-10 { padding:        $gl-spacing-10; }
.p-t-10 { padding-top:    $gl-spacing-10; }
.p-b-10 { padding-bottom: $gl-spacing-10; }
