@mixin type-scale($scale, $line-height: 1, $margin-bottom: 0, $margin-top: 24px) {
  font-size: $base-font-size + ($scale * 2); 
  line-height: $line-height * $base-grid;
  margin-bottom: $margin-bottom * $base-grid;
  margin-top: $margin-top;
}

h1, h2, h3, h4, h5, h6 { font-weight: $font-weight--bold; }

/* UI Typography */

h1 { @include type-scale(7, 5) }
h2 { @include type-scale(3, 4) }
h3 { @include type-scale(1, 3) }
h4 { @include type-scale(0, 3) }
h5 { @include type-scale(0, 3) }
h6 { @include type-scale(0, 3) }

a {
  text-decoration: none;
  color: $anchor-color;

  &:hover {
    text-decoration: underline;
  }
}

.label { @include type-scale(0, 2) }
.f-display { @include type-scale(14,3) }
.f-small { @include type-scale(-1) }

/*  MD Typography */

.md {

  h1 { 
    @include type-scale(14, 6, 2);
    padding-bottom: $gl-spacing-5;
    box-shadow: 0 1px 0 $gray-300;
  }

  h2 { 
    @include type-scale(7, 5, 2);
    padding-bottom: $gl-spacing-5;
    box-shadow: 0 1px 0 $gray-300;
  }

  h3 { @include type-scale(3, 4, 1) }
  h4 { @include type-scale(1, 3, 1) }
  h5 { @include type-scale(0, 3, 1) }
  h6 { 
    @include type-scale(0, 3, 1);
    color: $text-color--secondary;
  }

  p  { @include type-scale(1, 3, 2, 0) }

  ul, ol { 
    @include type-scale(0, 1.5, 3);

    ul, ol { margin-bottom: 0 }
  }

  blockquote {
    @include type-scale(0, 1.5, 3);
    margin-left: $gl-spacing-5;
    margin-right: $gl-spacing-5;
    background: $gray-50;
    border-left: ($border-width * 2) solid $border-color;
    padding: $gl-spacing-5;
  }
}

/* MD compact Typography */

.md.compact {

  h1 {
    @include type-scale(7, 5, 1);
    box-shadow: none;
    padding: 0;
  }

  h2 {
    @include type-scale(3, 4, 1);
    box-shadow: none;
    padding: 0;
  }

  h3 { @include type-scale(1, 3, 1)    }
  h4 { @include type-scale(0, 3, 1)    }
  h5 { @include type-scale(0, 3, 1)    }
  h6 { @include type-scale(0, 3, 1)    }
  p  { @include type-scale(0, 3, 2, 0) }
}

/*Distributed UI Typography */

.distributed {

  h1 { 
    @include type-scale(7, 5, 2)
    box-shadow: none;
    padding: 0;
  }

  h2 { @include type-scale(3, 4, 1)
    box-shadow: none;
    padding: 0;
  }

  h3 { @include type-scale(1, 3, 1)    }
  h4 { @include type-scale(0, 3, 1)    }
  h5 { @include type-scale(0, 3, 1)    }
  h6 { @include type-scale(0, 3, 1)    }
  p  { @include type-scale(0, 3, 2, 0) }
}

/* Type scale */

.ts-1 { @include type-scale(14, 6) }
.ts-2 { @include type-scale(7, 5)  }
.ts-3 { @include type-scale(3, 4)  }
.ts-4 { @include type-scale(1, 3)  }
.ts-5 { @include type-scale(0, 3)  }
.ts-6 { @include type-scale(-1, 2) }

p:last-child {
  margin-bottom: 0;
}

/* Type alignment */

.text-center {
  text-align: center;
}

/* Type treatment */

.f-monospace {
  font-family: $font-family-monospace;
  font-size: 13px;
}

.f-bold {
  font-weight: $font-weight--bold;
}

.f-secondary {
  color: $text-color--secondary;
}

.f-inverted {
  color: $text-color--inverted;
  text-shadow: 0 1px rgba($black,.2);
}
