@mixin type-scale($scale, $line-height: 1, $margin-bottom: 0) {
  font-size: #{$base-font-size + ($scale * 2) + 'px' };
  line-height: #{ $line-height * $leading + 'px' };
  margin-bottom: #{ $margin-bottom * $base-grid + 'px' };
  margin-top: 0;

h1, h2, h3, h4, h5, h6 { font-weight: $font-weight--bold; }

/* UI Typography */

h1 { @include type-scale(7, 2)   };
h2 { @include type-scale(5, 1.5) };
h3 { @include type-scale(3)      };
h4 { @include type-scale(1)      };
h5 { @include type-scale(0)      };
h6 { @include type-scale(0)      };
p  { @include type-scale(0)      };

.f-small {
  @include type-scale(-1);
}

/*  MD Typography */

.md {

  h1 { @include type-scale(14, 3, 1)  };
  h2 { @include type-scale(7, 2, 1)   };
  h3 { @include type-scale(5, 2, 1)   };
  h4 { @include type-scale(3, 1.5, 1) };
  h5 { @include type-scale(1, 1.5, 1) };
  h6 { @include type-scale(0, 1, 1)   };
  p  { @include type-scale(0, 1.5, 3) };

  p:last-child {
    margin-bottom: 0;
  }
}

/* MD Issuable Typography */

.md.compact {

  h1 { @include type-scale(7, 2, 1)   };
  h2 { @include type-scale(5, 2, 1)   };
  h3 { @include type-scale(3, 1.5, 1) };
  h4 { @include type-scale(1, 1.5, 1) };
  h5 { @include type-scale(0, 1, 1)   };
  h6 { @include type-scale(0, 1, 1)   };
  p  { @include type-scale(0, 1.5, 3) };
}

/* Type scale */

.ts-1 { @include type-scale(14, 3)  };
.ts-2 { @include type-scale(7, 2)   };
.ts-3 { @include type-scale(5, 2)   };
.ts-4 { @include type-scale(3, 1.5) };
.ts-5 { @include type-scale(1, 1.5) };
.ts-6 { @include type-scale(0)      };
.ts-7 { @include type-scale(-1)     };

/* Type alignment */

.text-center {
  text-align: center;
}

/* Type treatment */

.f-monospace {
  font-family: $monospace-font;
  font-size: 13px;
}

.f-bold {
  font-weight: $font-weight--bold;
}

.f-secondary {
  color: $text-color--secondary;
}
