^[Engineering] @psimyn @gitlab-org/maintainers/frontend
*

[UX maintainers][1] @pedroms @tauriedavis @rayana @jeldergl @ameliabauerly @danmh @aregnery
/contents/ 
/pages/

^[UX trainee maintainers]
/contents/ 
/pages/

^[UX reviewers] @gitlab-com/gitlab-ux/designers
/contents/
/pages/

# [Figma]
# While no Figma files are committed to this repo, the following maintainers are available to support any needs related to Figma:
# @jeldergl @lvanc @seggenberger @danmh @katiemacoy

[Technical Writing][1] @fneill @sselhorn
/contents/content/

^[Objects] @pedroms
/contents/objects/

^[AI] @aregnery @emilybauman @jackib @katiemacoy @nicollem @pedroms @timnoah
/contents/usability/ai-human-interaction.md
/contents/patterns/duo-*
