# Engineering

* @psimyn @gitlab-org/maintainers/frontend

# UX

/contents/ @pedroms @tauriedavis @rayana @jeldergl @ameliabauerly
/pages/ @pedroms @tauriedavis @rayana @jeldergl @ameliabauerly

# Tech writing

/contents/content @rdickenson
