@import '@gitlab/ui/dist/tokens/scss/tokens';

/*
 * Measures
 */

$gl-spacing-1: 2px;
$gl-spacing-2: 4px;
$gl-spacing-3: 8px;
$gl-spacing-4: 12px;
$gl-spacing-5: 16px;
$gl-spacing-6: 24px;
$gl-spacing-7: 32px;
$gl-spacing-8: 48px;
$gl-spacing-9: 64px;
$gl-spacing-10: 96px;
$gl-spacing-11: 128px;
$gl-spacing-12: 176px;
$gl-spacing-13: 256px;

$sizes: (
  1: 2px,
  2: 4px,
  3: 8px,
  4: 12px,
  5: 16px,
  6: 24px,
  7: 32px,
  8: 48px,
  9: 64px,
  10: 96px,
  11: 128px,
  12: 176px,
  13: 256px
);

/*
 * Framework
 */

$navbar-height: 56px;
$page-width: 54rem;
$sidebar-width: 256px;

/*
 * Tanuki logo colors
 */

$tanuki-red: #e24329;
$tanuki-orange: #fc6d26;
$tanuki-yellow: #fca326;
$gitlab-logo-grey: #8c929d;

/*
 * Fonts
 */

$font-family-sans: 'GitLab Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu, Cantarell, 'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: 'GitLab Mono', 'Menlo', 'DejaVu Sans Mono', 'Liberation Mono', 'Consolas', 'Ubuntu Mono', 'Courier New', 'andale mono', 'lucida console', monospace;

/*
 * Typography
 */

$base-font-size: 14px;
$lg-font-size: 16px;
$base-grid: 8px;
$base-grid--typography: 4px;

$font-weight--normal: 400;
$font-weight--bold: 600;
$text-color: $gray-900;
$text-color--secondary: $gray-500;
$text-color--inverted: $white;
$anchor-color: $blue-600;

/*
 * UI elements
 */

$border-color: $gray-100;
$border-width: 1px;
$border-radius: $gl-spacing-2;

/*
 * Z Indexs
 */

$z-nav-skip-link: 500;
$z-sidebar: 400;
$z-index-header: 200;
