// @import "../../node_modules/css-framework/src/base/base-variables";
// @import "../../node_modules/css-framework/src/button/button-variables";

@import "../../node_modules/css-framework/dist/main.css";

// Required
// @import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";

// // Optional
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/code";
// @import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
// @import "../../node_modules/bootstrap/scss/forms";
// @import "../../node_modules/bootstrap/scss/badge";

// @import "../../node_modules/prismjs/themes/prism.css";

@import "variables";

@import "utilities/mixins";

@import "framework/content";
@import "framework/sidebar";
@import "framework/spacing";
@import "framework/typography";

// @import "components/buttons";

@import "pages/index";
