@import 'variables';

@import 'utilities/mixins';

@import 'framework/alignment';
@import 'framework/base';
@import 'framework/color';
@import 'framework/content';
@import 'framework/display';
@import 'framework/footer';
@import 'framework/sidebar';
@import 'framework/sizing';
@import 'framework/spacing';
@import 'framework/typography';

@import 'components/card';
@import 'components/logo';
@import 'components/table';

@import 'pages/index';
@import 'pages/p_baseline-grid';
@import 'pages/p_spacing';

@import 'pages/p-color';
@import 'pages/p_components';

/**
 Import GitLab UI component styles.
 At the moment we only import component specific styles in order to avoid side-effects
 */
.app-styles {
  @import '@gitlab/ui/scss/gitlab_ui';
}
